<header>
  <div class="logo"></div>
  <a href="/" class="sys-name">CMS管理后台</a>
  <nz-popover class="user-info" nzTitle="用户信息" nzTrigger="click" [nzPlacement]="'bottomRight'">
    <button nz-button nz-popover>{{userInfo.nick_name}}</button>
    <ng-template #nzTemplate>
      <div style="cursor: pointer;" (click)="toggleNotice()">{{noticeOpened ? '关闭' : '开启'}}通知</div>
      <div style="cursor: pointer;" (click)="logout()">退出登录({{userInfo.username}})</div>
    </ng-template>
  </nz-popover>
</header>