<h4>编辑信用卡</h4>
<form nz-form [nzType]="'horizontal'" #form="ngForm">
  <!-- 本信息 -->
  <div nz-row class="markdown">
    <blockquote><p>信用卡基本信息</p></blockquote>
  </div>
  <div nz-row>
    <div nz-col [nzSm]="12">
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>信用卡名称</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="16" [nzValidateStatus]="creditCardName.control">
          <nz-input [(ngModel)]="editCard.creditCardName" #creditCardName="ngModel" nzSize="large" name="creditCardName" nzPlaceHolder="5-10个字"></nz-input>
          <div nz-form-explain *ngIf="creditCardName.dirty&&creditCardName.invalid">5-10个字!</div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>状态</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="16" [nzValidateStatus]="status.control">
          <nz-select [(ngModel)]="editCard.status" #status="ngModel" name="status" nzSize="large" nzPlaceHolder="状态">
            <nz-option *ngFor="let option of statusOptions"
              [nzLabel]="option.name"
              [nzValue]="option.id">
            </nz-option>
          </nz-select>
          <div nz-form-explain *ngIf="status.dirty&&status.invalid">必须填写!</div>
        </div>
      </div>
    </div>
    <div nz-col [nzSm]="12">
      <div nz-form-item row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>卡样</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="12" [nzValidateStatus]="logo.control">
          <app-upload-file required [(ngModel)]="editCard.logo" #logo="ngModel" maxSize="300" name="logo" [imgSrc]="imgSrc"></app-upload-file>
          <div nz-form-explain *ngIf="logo.dirty&&logo.invalid">必须添加卡样!</div>
        </div>
      </div>
    </div>
  </div>
  
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="4">
      <label nz-form-item-required>等级</label>
    </div>
    <div nz-form-control nz-col [nzSpan]="8" [nzValidateStatus]="level.control">
      <nz-select [(ngModel)]="editCard.level" #level="ngModel" name="level" nzSize="large" [nzPlaceHolder]="'等级'">
        <nz-option *ngFor="let option of levelOptions"
          [nzLabel]="option.name"
          [nzValue]="option.id">
        </nz-option>
      </nz-select>
      <div nz-form-explain *ngIf="level.dirty&&level.invalid">必须填写!</div>
    </div>
  </div>

  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="4">
      <label nz-form-item-required>币种</label>
    </div>
    <div nz-col nz-form-control [nzSpan]="8" [nzValidateStatus]="currency.control">
      <nz-select [(ngModel)]="editCard.currency" #currency="ngModel" name="currency" nzSize="large" nzPlaceHolder="币种">
        <nz-option *ngFor="let option of currencyOptions"
          [nzLabel]="option.name"
          [nzValue]="option.id">
        </nz-option>
      </nz-select>
      <div nz-form-explain *ngIf="currency.dirty&&currency.invalid">必须填写!</div>
    </div>
  </div>

  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="4">
      <label nz-form-item-required>年费</label>
    </div>
    <div nz-col nz-form-control [nzSpan]="8" [nzValidateStatus]="annualFee.control">
      <nz-select [(ngModel)]="editCard.annualFee" #annualFee="ngModel" name="annualFee" nzSize="large" nzPlaceHolder="年费">
        <nz-option *ngFor="let option of feeOptions"
          [nzLabel]="option.name"
          [nzValue]="option.id">
        </nz-option>
      </nz-select>
      <div nz-form-explain *ngIf="annualFee.dirty&&annualFee.invalid">必须填写!</div>
    </div>
  </div>

  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="4">
      <label nz-form-item-required>分类</label>
    </div>
    <div nz-col nz-form-control [nzSpan]="8" [nzValidateStatus]="classifyId.control">
      <nz-select [(ngModel)]="editCard.classifyId" #classifyId="ngModel" name="classifyId" nzSize="large" nzPlaceHolder="分类">
        <nz-option *ngFor="let option of classifyOptions"
          [nzLabel]="option.name"
          [nzValue]="option.id">
        </nz-option>
      </nz-select>
      <div nz-form-explain *ngIf="classifyId.dirty&&classifyId.invalid">必须填写!</div>
    </div>
  </div>

  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="4">
      <label nz-form-item-required>银行</label>
    </div>
    <div nz-form-control nz-col [nzSpan]="8" [nzValidateStatus]="bankId.control">
      <nz-select
        nzSize="large"
        name="bankId"
        nzPlaceHolder="银行"
        [nzFilter]="false"
        [(ngModel)]="editCard.bankId" #classifyId="ngModel"
        [nzNotFoundContent]="'无法找到'"
        [nzShowSearch]="true">
        <nz-option *ngFor="let option of bankAjaxList"
          [nzLabel]="option.bankName"
          [nzValue]="option.id">
        </nz-option>
      </nz-select>
      <div nz-form-explain *ngIf="bankId.dirty&&bankId.invalid">必须填写!</div>
    </div>
  </div>
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="4">
      <label>信用卡描述</label>
    </div>
    <div nz-col nz-form-control [nzSpan]="16" [nzValidateStatus]="introduction.control">
      <nz-input [(ngModel)]="editCard.introduction" #introduction="ngModel" [nzRows]="4" [nzType]="'textarea'" [nzPlaceHolder]="'300字以内'" nzSize="large" name="introduction"></nz-input>
      <div nz-form-explain *ngIf="introduction.dirty&&introduction.invalid">300字以内!</div>
    </div>
  </div>
  <div nz-row class="markdown">
    <blockquote><p>推广信息</p></blockquote>
  </div>
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="4">
      <label>推广标签1</label>
    </div>
    <div nz-col nz-form-control [nzSpan]="6" [nzValidateStatus]="label1.control">
      <nz-input [(ngModel)]="editCard.label1" #label1="ngModel" [nzPlaceHolder]="'2个字以内'" nzSize="large" name="label1"></nz-input>
      <div nz-form-explain *ngIf="label1.dirty&&label1.invalid">2个字以内!</div>
    </div>
    <div nz-form-label nz-col [nzSpan]="4">
      <label>推广标签2</label>
    </div>
    <div nz-col nz-form-control [nzSpan]="6" [nzValidateStatus]="label2.control">
      <nz-input [(ngModel)]="editCard.label2" #label2="ngModel" [nzPlaceHolder]="'2个字以内'" nzSize="large" name="label2"></nz-input>
      <div nz-form-explain *ngIf="label2.dirty&&label2.invalid">2个字以内!</div>
    </div>
  </div>

  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="4">
      <label>推广文案/关键词1</label>
    </div>
    <div nz-col nz-form-control [nzSpan]="6" [nzValidateStatus]="adSlogan1.control">
      <nz-input [(ngModel)]="editCard.adSlogan1" #adSlogan1="ngModel" [nzPlaceHolder]="'8-12个字'" nzSize="large" name="adSlogan1"></nz-input>
      <div nz-form-explain *ngIf="adSlogan1.dirty&&adSlogan1.invalid">8-12个字!</div>
    </div>
    <div nz-form-label nz-col [nzSpan]="4">
      <label>推广文案/关键词2</label>
    </div>
    <div nz-col nz-form-control [nzSpan]="6" [nzValidateStatus]="adSlogan2.control">
      <nz-input [(ngModel)]="editCard.adSlogan2" #adSlogan2="ngModel" [nzPlaceHolder]="'8-12个字'" nzSize="large" name="adSlogan2"></nz-input>
      <div nz-form-explain *ngIf="adSlogan2.dirty&&adSlogan2.invalid">8-12个字!</div>
    </div>
  </div>

  <div nz-form-item nz-row>
    <div nz-form-control nz-col [nzSpan]="20" [nzOffset]="4">
      <button nz-button nzType="primary" nzSize="large" (click)="save()" [nzLoading]="isConfirmLoading">保存并返回</button>
      <button nz-button nzType="default" nzSize="large" (click)="back()">取消</button>
    </div>
  </div>

</form>