<h4>添加信用卡</h4>
<form nz-form [nzType]="'horizontal'" [formGroup]="formGroup">
  <!-- 信用卡基本信息 -->
  <div nz-row class="markdown">
    <blockquote><p>信用卡基本信息</p></blockquote>
  </div>
  <div nz-row>
    <div nz-col [nzSm]="12">
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>信用卡名称</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="16" [nzValidateStatus]="getFormControl('creditCardName')">
          <nz-input formControlName="creditCardName" nzSize="large" name="creditCardName" nzPlaceHolder="5-10个字"></nz-input>
          <div nz-form-explain *ngIf="getFormControl('creditCardName').dirty&&getFormControl('creditCardName').invalid">5-10个字!</div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>状态</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="16" [nzValidateStatus]="getFormControl('status')">
          <nz-select formControlName="status" name="status" nzSize="large" nzPlaceHolder="状态">
            <nz-option *ngFor="let option of statusOptions"
              [nzLabel]="option.name"
              [nzValue]="option.id">
            </nz-option>
          </nz-select>
          <div nz-form-explain *ngIf="getFormControl('status').dirty&&getFormControl('status').invalid">必须填写!</div>
        </div>
      </div>
    </div>
    <div nz-col [nzSm]="12">
      <div nz-form-item row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>卡样</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="12" [nzValidateStatus]="getFormControl('logo')">
          <app-upload-file (fileUploaded)="uploadSuccess($event)" maxSize="300" name="logo"></app-upload-file>
          <div nz-form-explain *ngIf="getFormControl('logo').dirty&&getFormControl('logo').hasError('required')">必须添加卡样!</div>
        </div>
      </div>
    </div>
  </div>
  
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="4">
      <label nz-form-item-required>等级</label>
    </div>
    <div nz-form-control nz-col [nzSpan]="8" [nzValidateStatus]="getFormControl('level')">
      <nz-select formControlName="level" name="level" nzSize="large" [nzPlaceHolder]="'等级'">
        <nz-option *ngFor="let option of levelOptions"
          [nzLabel]="option.name"
          [nzValue]="option.id">
        </nz-option>
      </nz-select>
      <div nz-form-explain *ngIf="getFormControl('level').dirty&&getFormControl('level').invalid">必须填写!</div>
    </div>
  </div>

  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="4">
      <label nz-form-item-required>币种</label>
    </div>
    <div nz-col nz-form-control [nzSpan]="8" [nzValidateStatus]="getFormControl('currency')">
      <nz-select formControlName="currency" name="currency" nzSize="large" nzPlaceHolder="币种">
        <nz-option *ngFor="let option of currencyOptions"
          [nzLabel]="option.name"
          [nzValue]="option.id">
        </nz-option>
      </nz-select>
      <div nz-form-explain *ngIf="getFormControl('currency').dirty&&getFormControl('currency').invalid">必须填写!</div>
    </div>
  </div>

  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="4">
      <label nz-form-item-required>年费</label>
    </div>
    <div nz-col nz-form-control [nzSpan]="8" [nzValidateStatus]="getFormControl('annualFee')">
      <nz-select formControlName="annualFee" name="annualFee" nzSize="large" nzPlaceHolder="年费">
        <nz-option *ngFor="let option of feeOptions"
          [nzLabel]="option.name"
          [nzValue]="option.id">
        </nz-option>
      </nz-select>
      <div nz-form-explain *ngIf="getFormControl('annualFee').dirty&&getFormControl('annualFee').invalid">必须填写!</div>
    </div>
  </div>

  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="4">
      <label nz-form-item-required>分类</label>
    </div>
    <div nz-col nz-form-control [nzSpan]="8" [nzValidateStatus]="getFormControl('classifyId')">
      <nz-select formControlName="classifyId" name="classifyId" nzSize="large" nzPlaceHolder="分类">
        <nz-option *ngFor="let option of classifyOptions"
          [nzLabel]="option.name"
          [nzValue]="option.id">
        </nz-option>
      </nz-select>
      <div nz-form-explain *ngIf="getFormControl('classifyId').dirty&&getFormControl('classifyId').invalid">必须填写!</div>
    </div>
  </div>

  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="4">
      <label nz-form-item-required>银行</label>
    </div>
    <div nz-form-control nz-col [nzSpan]="8" [nzValidateStatus]="getFormControl('bankId')">
      <nz-select
        nzSize="large"
        name="bankId"
        nzPlaceHolder="银行"
        [nzFilter]="false"
        formControlName="bankId"
        [nzNotFoundContent]="'无法找到'"
        [nzShowSearch]="true">
        <nz-option *ngFor="let option of bankAjaxList"
          [nzLabel]="option.bankName"
          [nzValue]="option.id">
        </nz-option>
      </nz-select>
      <div nz-form-explain *ngIf="getFormControl('bankId').dirty&&getFormControl('bankId').invalid">必须填写!</div>
    </div>
  </div>
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="4">
      <label>信用卡描述</label>
    </div>
    <div nz-col nz-form-control [nzSpan]="16" [nzValidateStatus]="getFormControl('introduction')">
      <nz-input formControlName="introduction" [nzRows]="4" [nzType]="'textarea'" [nzPlaceHolder]="'300字以内'" nzSize="large" name="introduction"></nz-input>
    </div>
    <div nz-form-explain *ngIf="getFormControl('introduction').dirty&&getFormControl('introduction').invalid">300字以内!</div>
  </div>
  <div nz-row class="markdown">
    <blockquote><p>推广信息</p></blockquote>
  </div>
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="4">
      <label>推广标签1</label>
    </div>
    <div nz-col nz-form-control [nzSpan]="6" [nzValidateStatus]="getFormControl('label1')">
      <nz-input formControlName="label1" [nzPlaceHolder]="'2个字以内'" nzSize="large" name="label1"></nz-input>
      <div nz-form-explain *ngIf="getFormControl('label1').dirty&&getFormControl('label1').invalid">2个字以内!</div>
    </div>
    <div nz-form-label nz-col [nzSpan]="4">
      <label>推广标签2</label>
    </div>
    <div nz-col nz-form-control [nzSpan]="6" [nzValidateStatus]="getFormControl('label2')">
      <nz-input formControlName="label2" [nzPlaceHolder]="'2个字以内'" nzSize="large" name="label2"></nz-input>
      <div nz-form-explain *ngIf="getFormControl('label2').dirty&&getFormControl('label2').invalid">2个字以内!</div>
    </div>
  </div>

  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="4">
      <label>推广文案/关键词1</label>
    </div>
    <div nz-col nz-form-control [nzSpan]="6" [nzValidateStatus]="getFormControl('adSlogan1')">
      <nz-input formControlName="adSlogan1" [nzPlaceHolder]="'8-12个字'" nzSize="large" name="adSlogan1"></nz-input>
      <div nz-form-explain *ngIf="getFormControl('adSlogan1').dirty&&getFormControl('adSlogan1').invalid">8-12个字!</div>
    </div>
    <div nz-form-label nz-col [nzSpan]="4">
      <label>推广文案/关键词2</label>
    </div>
    <div nz-col nz-form-control [nzSpan]="6" [nzValidateStatus]="getFormControl('adSlogan2')">
      <nz-input formControlName="adSlogan2" [nzPlaceHolder]="'8-12个字'" nzSize="large" name="adSlogan2"></nz-input>
      <div nz-form-explain *ngIf="getFormControl('adSlogan2').dirty&&getFormControl('adSlogan2').invalid">8-12个字!</div>
    </div>
  </div>

  <div nz-form-item nz-row>
    <div nz-form-control nz-col [nzSpan]="20" [nzOffset]="4">
      <button nz-button nzType="primary" nzSize="large" (click)="save()" [nzLoading]="isConfirmLoading">保存并返回</button>
      <button nz-button nzType="default" nzSize="large" (click)="back()">取消</button>
    </div>
  </div>

</form>