<!-- <canvas #canvas></canvas> -->
<form nz-form class="login-form" #form="ngForm">
  <div nz-form-item>
    <h1>
      后台管理系统 Angular4
    </h1>
  </div>
  <div nz-form-item>
    <div nz-form-control [nzValidateStatus]="username.control">
      <nz-input required [(ngModel)]="userInfo.username" #username="ngModel" [nzPlaceHolder]="'用户名'" [nzSize]="'large'" name="username">
        <ng-template #prefix>
          <i class="anticon anticon-user"></i>
        </ng-template>
      </nz-input>
      <div nz-form-explain *ngIf="username.dirty&&username.invalid">请输入你的用户名!</div>
    </div>
  </div>
  <div nz-form-item>
    <div nz-form-control [nzValidateStatus]="password.control">
      <nz-input required [(ngModel)]="userInfo.password" #password="ngModel" [nzType]="'password'" [nzPlaceHolder]="'Password'" [nzSize]="'large'" name="password">
        <ng-template #prefix>
          <i class="anticon anticon-lock"></i>
        </ng-template>
      </nz-input>
      <div nz-form-explain *ngIf="password.dirty&&password.invalid">请输入密码!</div>
    </div>
  </div>
  <div nz-form-item>
    <div nz-form-control>
      <label nz-checkbox>
        <span>Remember me</span>
      </label>
      <!-- <a class="login-form-forgot" class="login-form-forgot">忘记密码</a> -->
      <button nz-button class="login-form-button" [nzType]="'primary'" [nzSize]="'large'" (click)="login()">登陆</button>
      <!-- <a href="">立即注册!</a> -->
    </div>
  </div>
</form>