
<h4>商户列表</h4>
<form nz-form class="">
  <div nz-row [nzGutter]="40" class="mgt20">
    <div nz-col class="gutter-row" [nzSpan]="6">
      <span class="spanW60">商户名称：</span>
      <nz-input  [nzSize]="'large'" [nzPlaceHolder]="'商户名称'" [(ngModel)]="valselect.merchantName" name="valselect.merchantName"></nz-input>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="6">
      <span class="spanW60">商户类型：</span>
      <nz-select  [nzSize]="'large'" [(ngModel)]="valselect.merchantType" name="valselect.merchantType" [nzPlaceHolder]="'商户类型'">
        <nz-option *ngFor="let option of merchantTypeList"
          [nzLabel]="option.name"
          [nzValue]="option.id">
        </nz-option>
      </nz-select>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="6">
      <span class="spanW60">商务：</span>
      <nz-input  [nzSize]="'large'" [nzPlaceHolder]="'商务'" [(ngModel)]="valselect.business" name="valselect.business"></nz-input>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="6">
      <span class="spanW60">状态：</span>
      <nz-select  [nzSize]="'large'" [(ngModel)]="valselect.status" name="valselect.status" [nzPlaceHolder]="'状态'">
        <nz-option *ngFor="let option of statusList"
          [nzLabel]="option.name"
          [nzValue]="option.id">
        </nz-option>
      </nz-select>
    </div>
  </div>
  <div nz-row class="mgt20">
    <div nz-col [nzSpan]="24" class="right-btns">
      <button nz-button [routerLink]="['/merchant/add']"><i class="anticon anticon-plus"></i><span>添加</span></button>
      <button nz-button (click)="clear()">清空</button>
      <button nz-button [nzType]="'primary'" (click)="query()">查询</button>
    </div>
  </div>
</form>



<nz-table #nzTable
  [nzTotal]="_total"
  [(nzPageIndex)]="_current"
  [nzIsPagination]="true"
  (nzPageIndexChange)="query()"
  [nzAjaxData]="_dataSet"
  [nzLoading]="_loading"
  (nzPageSizeChange)="query()">
  <thead nz-thead>
    <tr>
      <th nz-th><span>商户ID</span></th>
      <th nz-th><span>商户名称</span></th>
      <th nz-th><span>商户类型</span></th>
      <th nz-th><span>商务</span></th>
      <th nz-th><span>联系方式</span></th>
      <th nz-th><span>最后编辑时间</span></th>
      <th nz-th><span>状态</span></th>
      <th nz-th><span>操作</span></th>
    </tr>
  </thead>
  <tbody nz-tbody>
    <tr nz-tbody-tr *ngFor="let data of nzTable.data">
      <td nz-td>{{data.id}}</td>
      <td nz-td>{{data.merchantName}}</td>
      <td nz-td>{{data.merchantType}}</td>
      <td nz-td>{{data.business}}</td>
      <td nz-td>{{data.businessTel}}</td>
      <td nz-td>{{data.updateTime}}</td>
      <td nz-td>{{data.status}}</td>
      <td nz-td><button nz-button nzSize="small" [routerLink]="['/merchant/edit', data.id]">编辑</button></td>
    </tr>
  </tbody>
</nz-table>