<ul nz-menu [nzTheme]="'dark'" [nzMode]="isCollapsed?'vertical':'inline'">
    <li nz-submenu [(nzOpen)]="isOpenThree" (nzOpenChange)="openChange('three')">
    <span title><i class="anticon anticon-setting"></i> 个人博客管理</span>
    <ul>
        <li nz-menu-item [routerLink]="['/article']" routerLinkActive="active">文章列表</li>
        <li nz-menu-item [routerLink]="['/articletype']" routerLinkActive="active">文章类型</li>
        <li nz-menu-item [routerLink]="['/tag']" routerLinkActive="active">标签管理</li>
        <li nz-menu-item [routerLink]="['/user']" routerLinkActive="active">用户管理</li>
        <!-- <li nz-menu-item [routerLink]="['/banks']" routerLinkActive="active">银行列表</li> -->
        <!-- <li nz-menu-item [routerLink]="['/creditcard']" routerLinkActive="active">信用卡管理</li> -->
        <li nz-menu-item [routerLink]="['/systemlog']" routerLinkActive="active">系统日志</li>
        <li nz-menu-item [routerLink]="['/demos']" routerLinkActive="active">测试</li>
    </ul>
    </li>
</ul>
