
<h4>添加文章</h4>
<form nz-form [nzType]="'horizontal'" style="margin-top: 20px;" #form="ngForm">
  <div nz-row >
    <div nz-col [nzSm]="12" [nzXl]="8">
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="6">
          <label nz-form-item-required>文章标题</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="18" [nzValidateStatus]="title.control">
          <nz-input name="title" required [(ngModel)]="mainModel.title" [nzSize]="'large'" #title="ngModel"></nz-input>
          <div nz-form-explain *ngIf="title.dirty&&title.invalid">必须填写!</div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="6">
          <label nz-form-item-required>是否置顶</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="6" [nzValidateStatus]="is_top.control">
          <nz-select name="is_top" required [(ngModel)]="mainModel.is_top" #is_top="ngModel" [nzSize]="'large'">
            <nz-option nzLabel="否" [nzValue]="0"> </nz-option>
            <nz-option nzLabel="是" [nzValue]="1"> </nz-option>
          </nz-select>
          <div nz-form-explain *ngIf="is_top.dirty&&is_top.invalid">必须填写!</div>
        </div>
        <div nz-form-label nz-col [nzSpan]="6">
          <label nz-form-item-required>是否原创</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="6" [nzValidateStatus]="is_original.control">
          <nz-select name="is_original" required [(ngModel)]="mainModel.is_original" #is_original="ngModel" [nzSize]="'large'">
            <nz-option nzLabel="是" [nzValue]="true"> </nz-option>
            <nz-option nzLabel="否" [nzValue]="false"> </nz-option>
          </nz-select>
          <div nz-form-explain *ngIf="is_original.dirty&&is_original.invalid">必须填写!</div>
        </div>
      </div>
    </div>
    <div nz-col [nzSm]="12">
      <div nz-form-item row>
        <div nz-form-label nz-col [nzSpan]="6">
          <label nz-form-item-required>banner图片</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="18" [nzValidateStatus]="mainModel.pics">
          <app-upload-file [(ngModel)]="mainModel.pics" #pics="ngModel" maxSize="100" name="pics"></app-upload-file>
        </div>
      </div>
    </div>
  </div>
  
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSm]="3">
      <label>文章类型</label>
    </div>
    <div nz-col [nzSpan]="9" nz-form-control [nzValidateStatus]="type_id.control">
      <nz-select
        required
        nzSize="large"
        name="type_id"
        nzPlaceHolder="文章类型"
        #type_id="ngModel"
        [nzFilter]="false"
        [(ngModel)]="mainModel.type_id"
        [nzNotFoundContent]="'无法找到'"
        [nzShowSearch]="true">
        <nz-option *ngFor="let option of typeAjaxList"
          [nzLabel]="option.type_name"
          [nzValue]="option.id">
        </nz-option>
      </nz-select>
      <div nz-form-explain *ngIf="type_id.dirty&&type_id.invalid">必须填写!</div>
    </div>
  </div>

  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSm]="3">
      <label>摘要</label>
    </div>
    <div nz-col [nzSpan]="12" nz-form-control>
      <nz-input name="abstract" [(ngModel)]="mainModel.abstract" [nzRows]="4" [nzType]="'textarea'" [nzPlaceHolder]="'摘要'" [nzSize]="'large'"></nz-input>
    </div>
  </div>

  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSm]="3" [nzXl]="2">
      <label>文章内容</label>
    </div>
    <div nz-col [nzSpan]="21" nz-form-control [nzValidateStatus]="content.control">
      <app-editor required [(ngModel)]="mainModel.content" #content="ngModel" name="content"></app-editor>
      <div nz-form-explain *ngIf="content.dirty&&content.invalid">必须填写!</div>
    </div>
  </div>

  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSm]="3" [nzXl]="2">
      <label>标签</label>
    </div>
    <div nz-col [nzSpan]="21" nz-form-control>
      <label *ngFor="let item of tagList" nz-checkbox [(ngModel)]="checkedTag[item.name]" name="tag_{{item.id}}" [ngModelOptions]="{standalone: true}">
        <span>{{item.name}}</span>
      </label>
    </div>
  </div>

  <div nz-form-item nz-row>
    <div nz-form-control nz-col [nzSpan]="20" [nzOffset]="2">
      <button nz-button nzType="primary" [nzSize]="'large'" (click)="save()"  [nzLoading]="isConfirmLoading">保存</button>
      <button nz-button nzType="default" [nzSize]="'large'" (click)="back()">取消</button>
    </div>
  </div>

</form>