<table class="table">
    <thead class="thead-inverse">
        <tr>
            <th *ngFor="let column of tableColumn">{{column.title}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of tableData">
            <ng-container *ngFor="let column of tableColumn">
                <td *ngIf="column['render']" [innerHtml]="insertHtml(column.render(row))"></td>
                <td *ngIf="!column['render']">{{row[column.key]}}</td>
            </ng-container>
        </tr>
    </tbody>
</table>
<div class="text-right">
    <!-- <pagination class="pagination-xs" firstText="首页" lastText="末页" nextText="下一页" previousText="上一页" pageBtnClass="btn-primary" [totalItems]="100" [itemsPerPage]="10" [(ngModel)]="current_page" [maxSize]="5" [boundaryLinks]="true" [rotate]="false" (pageChanged)="pageChange($event)">
    </pagination> -->
</div>